:root {
  --color-primary: #18ff9d;
  --color-secondary: #73cfff;
  --color-red: #fe3d70;
  --color-BG: #131c20;
  --color-BG2: #39464c;
}

a {
  text-decoration: none;
}

body {
  background-color: #131c20;
}
