:root {
  --color-primary: #18FF9D;
  --color-secondary: #73CFFF;
  --color-red: #FE3D70;
  --color-BG: #131C20;
  --color-BG2: #39464C;
}

a {
  text-decoration: none;
}


body {
  background-color: #131C20;
}
